@model IEnumerable<HumanResourceDictionary.Domain.UserModels.UserDto>

@{
    ViewData["Title"] = "Home Page";
}



<div class="home-main">
    <div class="table-area">
        <table class="users-table" id="usersTable">
            <tr class="headerRow table-tr">
                <th>N</th>
                <th>სახელი/გვარი</th>
                <th>სქესი</th>
                <th>პირადი ნომერი</th>
                <th>დაბადების თარიღი</th>
                <th>ქალაქი</th>
                <th>ტელეფონის ნომერი</th>
                <!-- რაოდენობა და ჰოვერზე ტიპები -->
                <th>დაკავშირებული პირები</th>
                <th></th>

            </tr>
            <tr class="data-content-area">

            </tr>

        </table>
   
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const persons = @Html.Raw(Json.Serialize(Model)); 
        console.log(persons)
        populateTable(persons);
    });

</script>